{% extends "menubar.html" %}

{% block content %}
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    
   <h1>Simple Bar Chart</h1>
   <p id="caption">The chart is displaying a simple line chart.</p>
    <canvas id="myChart" width="600" height="200" 
    data-getvalue="{{ values }}"
    data-getlabel="{{ labels }}"
    ></canvas>
    

    <h1>Simple Line Chart</h1>
    <p id="caption">The chart is displaying a simple line chart.</p>
    <canvas id="myChart1" width="600" height="200" 
    data-getvalue="{{ values }}"
    data-getlabel="{{ labels }}"
    ></canvas>
   

    <script src="{{url_for('static',filename='js/barchart.js')}}"></script>
    <script src="{{url_for('static',filename='js/linechart.js')}}"></script>
    


{% endblock %}